body {
    background-color: #004C93;
}

h3 {
    color: #E8EDF2;
    text-shadow: 1px 1px 8px #13293D;
}

h5 {
    color: #E8EDF2;
    text-shadow: 1px 1px 8px #13293D;
}

i {
    color: #E8EDF2;
    text-shadow: 1px 1px 8px #13293D;
}

p {
    color: #E8EDF2;
    text-shadow: 1px 1px 8px #13293D;
}

.condense {
    margin: 0;
}

a {
    color: #E8EDF2;
}

a:hover {
    color: #E8EDF2;
}

footer {
    color: #E8EDF2;
    text-shadow: 1px 1px 8px #13293D;
}

.no-antialias { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.blur {
    position: fixed;
    top:0;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    background: rgb(0,76,147);
    z-index:-1;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}